.banner {
  position: relative;
  height: 223px;
  margin: 0 100px 40px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  &__title {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 0px black, 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 500;
    text-align: center;
  }
}
