.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.05);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    z-index: 1;
  }
}
