.collapse {
  width: 100%;

  &__header {
    background-color: #ff6060;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 18px;
  }

  &__content {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
  }

  .rotate {
    transform: rotate(180deg);
  }
}
