.footer {
  background-color: #000;
  color: #fff;
  padding: 60px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__logo {
    width: 122px;
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
  }
}
