.carousel {
  position: relative;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 80px;
    cursor: pointer;
    z-index: 1;
  }

  &__prev {
    left: 25px;
  }

  &__next {
    right: 25px;
  }

  &__count {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .carousel {
    height: 255px;

    &__prev,
    &__next {
      font-size: 40px;
    }

    &__count {
      display: none;
    }
  }
}
