.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  margin: 0 100px;
  background-color: #fff;

  &__logo {
    height: 68px;
  }

  &__nav {
    display: flex;
    gap: 50px;
  }

  &__link:hover {
    color: #ff6060;
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-size: 24px;

    &.active {
      text-decoration: underline;
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 20px;
    margin: 0;

    img {
      height: 47px;
    }

    &__nav {
      gap: 20px;
    }

    &__link {
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
