.rating {
  display: flex;
  gap: 10px;

  &__star {
    font-size: 24px;
    color: #e3e3e3;
  }

  &__star--active {
    color: #ff6060;
  }
}
@media (max-width: 768px) {
  .rating {
    gap: 5px;

    &__star {
      font-size: 16px;
    }
  }
}
