.tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding: 0;

  li {
    background-color: #ff6060;
    color: white;
    list-style: none;
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
