.about {
  &__collapses {
    margin: 40px 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .about {
    &__collapses {
      margin: 30px 0;
      gap: 20px;
    }
  }
}
