.gallery {
  background-color: #f6f6f6;
  margin: 40px 90px;
  padding: 50px;
  border-radius: 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
    margin: 30px 0;
    background-color: transparent;
  }
}
