.logement {
  margin: 50px auto;
  max-width: 1240px;
  padding: 0 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    h1 {
      font-size: 36px;
      color: #ff6060;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  &__collapses {
    display: flex;
    gap: 75px;
    margin-top: 30px;
  }
}
