.notfound {
  min-height: calc(100vh - 209px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ff6060;
  gap: 40px;

  &__title {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }

  &__text {
    font-size: 36px;
    margin-bottom: 100px;
  }

  &__link {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .notfound {
    &__title {
      font-size: 120px;
    }

    &__text {
      font-size: 24px;
      margin-bottom: 50px;
    }

    &__link {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}
