@use "./components/navbar";
@use "./components/banner";
@use "./components/card";
@use "./pages/home";
@use "./components/footer";
@use "./pages/logement";
@use "./components/gallery";
@use "./components/tags";
@use "./components/rating";
@use "./components/host";
@use "./components/collapse";
@use "./pages/about";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 0 100px;
  min-height: 80vh;
  background-color: #fff;
}
