@use "./components/navbar";
@use "./components/banner";
@use "./components/card";
@use "./pages/home";
@use "./components/footer";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 100px;
  min-height: 80vh;
  background-color: #fff;
}
